
.vs/Identity.RequestToken/FileContentIndex/6781a321-a3bf-435d-b287-9efb117c3e2e.vsidx
.vs/Identity.RequestToken/FileContentIndex/3ee5d400-3c0b-4e3f-b115-7c2adb8702c9.vsidx
*.v2
*.vsidx
/.vs/Identity.RequestToken/v17/.suo
/.vs/ProjectEvaluation
/obj/Debug/net7.0/Identity.RequestToken.AssemblyInfoInputs.cache
/obj/Debug/net7.0/Identity.RequestToken.AssemblyInfo.cs
/obj/Debug/net7.0/Identity.RequestToken.assets.cache
/obj/Debug/net7.0/Identity.RequestToken.csproj.AssemblyReference.cache
/obj/Debug/net8.0/Identity.RequestToken.AssemblyInfo.cs
/obj/Debug/net8.0/Identity.RequestToken.AssemblyInfoInputs.cache
/obj/Identity.RequestToken.csproj.nuget.dgspec.json
/obj/Identity.RequestToken.csproj.nuget.g.props
/obj/Identity.RequestToken.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/bin/Debug/net7.0/Identity.RequestToken.deps.json
/bin/Debug/net7.0/Identity.RequestToken.dll
/bin/Debug/net7.0/Identity.RequestToken.xml
/bin/Debug/net7.0/Identity.RequestToken.pdb
/bin/Debug/net8.0/resources/Icon.png
/obj/Debug/net6.0/refint/EntityFrameworkCore.DataEncryption.dll
/obj/Debug/net7.0/refint/Duende.IdentityServer.RequestToken.dll
/obj/Debug/net7.0/refint/EntityFrameworkCore.Crypto.DataEncryption.dll
/obj/Debug/net7.0/refint/EntityFrameworkCore.DataEncryption.dll
/obj/Debug/net7.0/refint/Identity.RequestToken.dll
/obj/Debug/net9.0/EntityFrameworkCore.Crypto.DataEncryption.assets.cache
